.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
}

.controls {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 2;
  padding: 20px;
}

.controls form {
  display: flex;
  flex-direction: column;
}

.controls form button {
  margin-top: 10px;
}

#maze {
  padding: 20px;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
}

#maze > div {
  height: fit-content;
}

body {
  font-family: "Victor Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
